<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p>
            <strong>ID</strong>: {{User.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{User.name}}</p>
          <p>
            <a href="/">← Back To Home</a>
         </p>
        </div>
      </div>
    </div>
  </div>
</div>